*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.icon:hover {
  color: red;        
  border-color: red;   
}
.product-page .container{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
 .product-img{
    width:150px;
  }
@media (max-width:768px){
  .product-img{
    width:50px;
  }
}
.product-btn{
  font-size:20px;
  border-color:yellow;
  color:purple;
  padding:3px 5px;
}

@media (max-width:768px){
  .product-btn{
    font-size:5px;
    border-color:yellow;
    color:purple;
    padding:2px 6px;
  }
}
.carousel-text h1{
  font-size:50px;
}

.shop-btn{
  height:50px;
  color:purple;
  font-size:25px;
  margin-top:-40px;
}

@media (max-width:768px){

  .carousel-text h1{
    font-size:11px;
    margin-right:10px;
  }

  .shop-btn{
    height:15px;
    font-size:10px;
  }

}

.custom-navbar {
  background: #fff;
  padding: 5px 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.logo img {
  width: 200px;
  margin-left: 20px;
}

.right-section {
  gap: 25px;
  margin-right: 10px;
}

.icon-box {
  position: relative;
  font-size: 21px;
  color: black;
  cursor: pointer;
}

.icon-box .badge {
  position: absolute;
  top: -6px;
  right: -8px;
  font-size: 11px;       
  padding: 4px 7px;     
  border-radius: 20px;  
  background-color: #db64a6;
  color: white;
}
.profile-wrapper {
  position: relative;
}

.profile-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  width: 220px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  z-index: 1000;
}

.profile-dropdown .dropdown-item {
  display: block;
  padding: 8px 0;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.profile-dropdown .dropdown-item:hover {
  color: #e20c90;
}

@media (max-width: 768px) {

  .custom-navbar {
    padding: 6px 5px;
  }

  .logo img {
    width: 130px;
    margin-left: 0px;
  }

  .right-section {
    gap: 20px;   
  }

  .icon-box {
    font-size: 17px;
  }

  .profile-box {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
}